
<form class="bg-3-form" action="/job/added" method="POST">
{% csrf_token %}
<div class="table_1">
  {{ form.non_field_errors }}
  <div class="form-group">
      {{ form.company.errors }}

  <label for="{{ form.company.id_for_label }}">公司名稱</label>
      {{ form.company }}
  </div>

  <div class="form-group">
      {{ form.employed.errors }}
      <label for="{{ form.employed.id_for_label }}">
      你現在在職嗎？
      </label>
      {{ form.employed }}
  </div>

  <div class="form-group">
      {{ form.position.errors }}
      <label for="{{ form.position.id_for_label }}">職稱</label>
      {{ form.position }}
  </div>
  <div class="form-group">
      {{ form.place.errors }}
      <label for="{{ form.place.id_for_label }}">工作地點</label>
      {{ form.place }}
  </div>

  <div class="form-group">
      {{ form.types.errors }}
      <label for="{{ form.types.id_for_label }}" >職務型態:</label>
      {{ form.types }}
  </div>

  <div class="form-group">
      {{ form.sex.errors }}
      <label for="{{ form.sex.id_for_label }}" placeholder="請選擇">性別:</label>
      {{ form.sex }}
  </div>

  <div class="form-group">
      {{ form.salary_type.errors }}
      <label for="{{ form.salary_type.id_for_label }}">薪資</label>
      {{ form.salary_type }}
  </div>

  <div class="form-group">
      {{ form.salary.errors }}
      <label for="{{ form.salary.id_for_label }}">薪資</label>
      {{ form.salary }}
  </div>


  <div class="form-group">
      {{ form.experience.errors }}
      <label for="{{ form.experience.id_for_label }}">年資:</label>
      {{ form.experience }}
  </div>


  <div class="form-group">
      {{ form.working_hour.errors }}
      <label for="{{ form.working_hour.id_for_label }}">一週總工時</label>
      {{ form.working_hour }}


  </div>
  <div class="form-group OT">
      {{ form.OT.errors }}
      <label for="{{ form.OT.id_for_label }}">加班頻率:</label>
      {{ form.OT }}
  </div>

  <div class="form-group Overtime_pay">
      {{ form.Overtime_pay.errors }}
      <label for="{{ form.Overtime_pay.id_for_label }}">加班費</label>
      {{ form.Overtime_pay }}
  </div>

  <div class="form-group">
      {{ form.email.errors }}
      <label for="{{ form.email.id_for_label }}">email:</label>
      {{ form.email }}
  </div>

  <div class="form-group">
      {{ form.date.errors }}
      <label for="{{ form.date.id_for_label }}">date:</label>
      {{ form.date }}
  </div>
</div> <!-- end of table 1 -->

<hr>
<h2>第二個table</h2>

<div class="table_2">
  {{ form.non_field_errors }}
  <div class="form-group">
      {{ form.company.errors }}

  <label for="{{ form.company.id_for_label }}">公司名稱</label>
      {{ form.company }}
  </div>

  <div class="form-group">
      {{ form.employed.errors }}
      <label for="{{ form.employed.id_for_label }}">
      你現在在職嗎？
      </label>
      {{ form.employed }}
  </div>

  <div class="form-group">
      {{ form.position.errors }}
      <label for="{{ form.position.id_for_label }}">職稱</label>
      {{ form.position }}
  </div>
  <div class="form-group">
      {{ form.place.errors }}
      <label for="{{ form.place.id_for_label }}">工作地點</label>
      {{ form.place }}
  </div>

  <div class="form-group">
      {{ form.types.errors }}
      <label for="{{ form.types.id_for_label }}" >職務型態:</label>
      {{ form.types }}
  </div>

  <div class="form-group">
      {{ form.sex.errors }}
      <label for="{{ form.sex.id_for_label }}" placeholder="請選擇">性別:</label>
      {{ form.sex }}
  </div>

  <div class="form-group">
      {{ form.salary_type.errors }}
      <label for="{{ form.salary_type.id_for_label }}">薪資</label>
      {{ form.salary_type }}
  </div>

  <div class="form-group">
      {{ form.salary.errors }}
      <label for="{{ form.salary.id_for_label }}">薪資</label>
      {{ form.salary }}
  </div>


  <div class="form-group">
      {{ form.experience.errors }}
      <label for="{{ form.experience.id_for_label }}">年資:</label>
      {{ form.experience }}
  </div>


  <div class="form-group">
      {{ form.working_hour.errors }}
      <label for="{{ form.working_hour.id_for_label }}">一週總工時</label>
      {{ form.working_hour }}


  </div>
  <div class="form-group OT">
      {{ form.OT.errors }}
      <label for="{{ form.OT.id_for_label }}">加班頻率:</label>
      {{ form.OT }}

  </div>
  <div class="form-group Overtime_pay">
      {{ form.Overtime_pay.errors }}
      <label for="{{ form.Overtime_pay.id_for_label }}">加班費</label>
      {{ form.Overtime_pay }}
  </div>

  <div class="form-group">
      {{ form.email.errors }}
      <label for="{{ form.email.id_for_label }}">email:</label>
      {{ form.email }}

  </div>

  <div class="form-group">
      {{ form.date.errors }}
      <label for="{{ form.date.id_for_label }}">date:</label>
      {{ form.date }}
  </div>
</div> <!-- end of table 1 -->

<input type="submit" value="提交表格" />
</form>
