{% extends "job_base.html" %}

{% block content %}
{% load static %}
<div class="container-fluid latest-bg-1"><!-- 1st row -->
  <div class="row">
    <div class="box">
    <h1> 查看工時、薪資</h1>
    <a href="{% url 'latest' %}">最新資料</a>
    <a href="{% url 'working_hour' %}">工時排行</a>
    <a href="{% url 'salary' %}">時薪排行</a>
  </div>
    <img src="{% static 'image/check_banner.jpg'%}">
  </div>
</div>


<div class="container latest-bg-2"><!-- 2st row -->
  <div class="row">

    <div class="col-sm-4"></div>
    <div class="col-sm-4 text-center">
    <form action="{% url 'search' %}" method="get">
      <input id="user_name" type="text" name="user_name" value="{{keyword}}" placeholder="輸入公司">
      <input type="submit" value="搜尋">
    </form>
    </div>
    <div class="col-sm-4"></div>
  </div>

  <div class="row text-center">
    <h1>最新薪時資訊</h1>
    <form action="{% url 'order' %}">
      <select name="orders">
        <option value="working_hr_descending">一週平均總工時(高到低)</option>
        <option value="working_hr_ascending">一週平均總工時(低到高)</option>
        <option value="salary_descending">人工(高到低)</option>
        <option value="salary_ascending">人工(低到高)</option>
        <option value="time_ascending">資料時間(新到舊)</option>
        <option value="time_descending">資料時間(舊到新)</option>
      </select>
      <br><br>
      <input type="submit">
</form>


    <table class="table table-inverse">
      <tr>
        <th>公司名稱</th>
        <th>職稱</th>
        <th>一週總工時</th>
        <th>加班頻率</th>
        <th>薪資</th>
        <th>估計時薪</th>
        <th>參考時間</th>

      </tr>
      {% for object in list %}


      <tr>

        <td><span class="rwd-td">公司名稱</span><a href="#">{{ object.company }}</a></td>

        <td><span class="rwd-td">職稱</span><a href="#">{{ object.position }}</a></td>

        <td><span class="rwd-td">一週工時</span><a href="#">{{ object.working_hour }}</a></td>

        <td><span class="rwd-td">加班頻率</span><a href="#">{{ object.OT }}</a></td>

        <td><span class="rwd-td">薪資</span><a href="#">{{ object.salary }}</a></td>

        <td><span class="rwd-td">估計時薪</span><a href="#">{{ object.salary |add:"100"}}</a></td>

        <td><span class="rwd-td">參考時間</span><a href="#">{{ object.date }}</a></td>

      </tr>

      {% endfor %}
    </table>
  </div>
</div>

{% endblock %}
